<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "Slowkonadzis"
        version     = "1.0.0" >
    <name>Słówko na dziś</name>
    <description>Aplikacja do nauki języka angielskiego</description>
    <author href="https://github.com/DabrowskiMateusz/BAI-EnglishWords" email="slawek@grawerznak.pl">
	</author>
	<engine name="android" spec="^7.0.0" />
		S. Klejdysz
		<access origin="*" />
		<allow-navigation href="*" />
		<allow-intent href="*" />
		
	<platform name="android" spec="^7.0.0"/>

		<gap:plugin name="cordova-plugin-googleplus" source="npm">
		<param name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.244487661018-8rn0cmocvl4p549fsfm3ag6umrgfrfd8" />
		</gap:plugin>
		<param name="WEB_APPLICATION_CLIENT_ID" value="244487661018-8rn0cmocvl4p549fsfm3ag6umrgfrfd8.apps.googleusercontent.com" />
		
	<preference name="DisallowOverscroll" value="true" />
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	
	

</widget>