<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.slowkonadzis.android"
        version     = "1.0.0" 
		>
		<icon src="www/img/snd.png" />
		<gap:splash src="www/img/snd.png" />

    <name>Słówko na dziś</name>
    <description>Aplikacja do nauki języka angielskiego</description>
    <author href="https://github.com/DabrowskiMateusz/BAI-EnglishWords" email="slawek@grawerznak.pl">
	</author>
	<engine name="android" />
	
		S. Klejdysz M.Dąbrowski E.Kiper D.Kłeczek
		
	<plugin name="cordova-plugin-whitelist"/>
	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />

	<meta http-equiv="Content-Security-Policy" content="
    default-src *; 
    style-src * 'unsafe-inline'; 
    script-src * 'unsafe-inline'; 
    media-src *; img-src * data:; 
	" />
		
		
	<platform name="android">
	<framework src="com.android.support:support-v4:26.+" value="gradle" />
	<preference name="fullscreen" value="true" />
	<preference name="android-minSdkVersion"      value="23" />
	<preference name="android-targetSdkVersion"   value="26" />
	<preference name="android-compileSdkVersion" value="26" />
	<resource-file src="merges/android/sndwhite.png" target="res/drawable/sndwhite.png"/>
	</platform>
		
		<plugin name="cordova-plugin-googleplus" source="npm" spec="5.2.1">
 		  <variable name="WEB_APPLICATION_CLIENT_ID" value="244487661018-8rn0cmocvl4p549fsfm3ag6umrgfrfd8.apps.googleusercontent.com" />
 		</plugin>
		
		<plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
 		  <variable name="APP_ID" value="2075370282477095" />
		  <variable name="APP_NAME" value="Słówko na dziś" />
 		</plugin>
		

	
	<preference name="DisallowOverscroll" value="true" />
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-buildinfo" />
	<plugin name="cordova-universal-links-plugin" />
	<plugin name="cordova-plugin-browsertab" />
	<plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-local-notifications"
    spec="https://github.com/katzer/cordova-plugin-local-notifications.git#0.9.0-beta.2" />
	
	<universal-links>
    <host name="h6x6m.app.goo.gl" scheme="https" />
    <host name="englishwords-10e45.firebaseapp.com" scheme="https">
        <path url="/__/auth/callback"/>
    </host>
</universal-links>

</widget>