.ui-page { 
	font-family: 'Lato', sans-serif; 
	height: 100%;
	width: 100%; 
	background:#2b2e31;
	outline:0;
}
.ui-content { 
 	margin-right: -12px;
    margin-left: -12px;
}

.ui-btn { border: none !important; }

#header{
	font-weight: normal;
	border: none !important;
	padding: 5% 5% 10% 10%;
	text-shadow:0 0 0; 
	color: white;
	background:#2446AF;
}

#roboto{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

#button{
	height: 5%;
	margin: 0px;
	font-weight: normal;
	padding: 5% 5% 5% 10%;
	text-shadow:0 0 0; 
	color: white;
}

#lineborder{
	margin-top:40px;
	height: 2px;
	background:#FFFFFF;
}
