.ui-page { 
	font-family: 'Lato', sans-serif; 
	height: 100%;
	background:#2b2e31;

}


#header{
	font-weight: normal;

	padding: 5% 5% 10% 10%;
	text-shadow:0 0 0; 
	color: white;
	background:#2446AF;
}

#roboto{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;

}

#button{
	margin: 0px;
	background:#2b2e31;
	font-weight: normal;

	padding: 5% 5% 10% 10%;
	text-shadow:0 0 0; 
	color: white;
}

